.navbar-inverse .navbar-brand, .navbar-brand:hover {
    color: white;
}
/*.well{ 
	background-color: #ffffff;
	}*/

.devicon-git-plain {
  max-width: 2em;
}

/* if you want to change the original color */
.devicon-git-plain path {
  fill: #4691f6;
}