{% extends "base.html"%}
{% block content %}

{% include "navbar.html" %}




    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" >
      <div class="container">
      <div  class="col-md-6 pull-right" style="text-align: center;">
      <i class="fa fa-share-alt fa-5x" aria-hidden="true"></i>
        <h1>Send Invite</h1>
        <p>Share this profile via Email, Facebook, Twitter, Reddit or LinkedIn</p>
       <div class="well" style="background-color: white;">{{ref_url}}</div>
        </div>
        <div  class="col-md-6">
            <img src="{{STATIC_URL}}img/kate.jpg" class="img-responsive img-rounded" />
        </div>
      </div>
    </div>
 <div class="container">
{{ref_id}}
{{count}}

</div>
{% endblock %}

